body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3em;
}

.knowledge-check-block {
  font-family: "Merriweather";
  font-size: 18px;
  width: 75%;
  text-align: left;
  display: inline-block;
  margin: 0 1.5% 2em;
  padding: 3.5em;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1em 5em;
  border-radius: 5em;
  background-color: #c0c0c0;
  color: #ffffff;
  border: none;
  margin: 1em 0;
  transition: all 0.25s ease;
}

.btn:not([disabled]) {
  cursor: pointer;
  background-color: #747a7e;
}

.btn:hover:not([disabled]) {
  background-color: #c0c0c0;
}

.border {
  width: 100%;
  border-bottom: 1px solid #cacbcb;
  margin: 10px 0;
}

.knowledge-check-image {
  width: 100%;
  height: auto;
}

.selector {
  margin: 10px 0;
}

.retake-icon {
  width: 2em;
}

.radio-custom {
  opacity: 0;
  position: absolute;
}

.radio-custom-label {
  position: relative;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
  content: "";
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  text-align: center;
  margin: 1em 5em 1em 1em;
  cursor: pointer;
  color: #bbb;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "⚫";
}

.correct .radio-custom + .radio-custom-label:before {
  content: "✓";
}

.incorrect .radio-custom + .radio-custom-label:before {
  content: "X";
}

.selected {
  border: 1px solid black;
  transition: border 1s ease-in-out;
}

.selector:hover:not([disabled]) {
  background-color: #f8f8f8;
}

.results-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.result-box {
  width: 80%;
  background-color: #f8f8f8;
  padding: 2em;
  margin: 1em 0;
  transition: all 1s ease;
}

.feedback {
  color: #707070;
}

@media only screen and (max-width: 420px) {
  .knowledge-check-block {
    margin: 0 2em;
    padding: 2em;
    font-size: 16px;
  }

  .radio-custom + .radio-custom-label:before {
    margin: 1em 1em 1em 0.1em;
  }

  .selector {
    padding: 1em 0.25em 1em 1em;
  }
}
